.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #c3c3c3;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.navigationBar {
    width: 30%
}

.sectionBody {
    width: 65%;
}

.detailsBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem
}



.titleAndDescContainer {
    width: 60%;
    margin-left: 1rem
}

.title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 3rem;
}

.desc {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5rem;
}

.actionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.editBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
    background-color: rgb(2, 169, 191);
    color: white;
    border-radius: 0.5rem;
    font-weight: bolder;
}

.deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
    background-color: rgb(255, 0, 25);
    color: white;
    border-radius: 0.5rem;
    font-weight: bolder;
}

.articleTabContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

.thumbnailAndStatusContainer {
    display: flex;
    flex-direction: column;
    width: 30%;

}

.thumbnail {
    width: 100%;
    height: auto;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.statusContainer {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.status {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}